.right-side{
   padding-left: 75%; 
}

.scheduler{
    padding-left: 65%;
}

h1,
h2,
h3,
h4 {
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: bold;
}

.request {
  background-color: #9ba2ff; /* Green */
  border: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  font-size: 12px;
  font-family: "Lato", sans-serif, bold;
  text-transform: uppercase;
  width: 7vw;
  margin-top: 50px;
  margin-left: 30%;
}


#map {
  height: 400px;
}

.test{
  width:2px;
}