/* TODO update all cascading styles here */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button,
h1,
h2,
h3,
h4 {
  font-family: "Lato";
  text-transform: uppercase;
  font-weight: bold;
}
