.facebook{
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 200px;
}

ol{
    list-style: none;
    
}

.login{
    margin: 0 auto;
    display: block;
    padding-top: 40vh;
}