.me{
    background-color: #9ba2ff;
    margin-left: 40%;
    text-align: right;
    color: white;
}
.them{
    margin-right: 40%;
    background-color: lightgray;
}

.message-bubble{
    width: 15%;
    border-radius: 5px;
    padding: 5px;
    padding-right: 10px;
}

.messenger-page{
    margin: 0 auto;
}

.messenger{
    margin-left: 150px;
}

.button-input-wrapper {
    padding-left: 40px;
    padding-right: 40%;
    align-content: center;
}

.send-text{
    width: 75% !important;
}

.submit-button{
    background-color: #9ba2ff; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    font-size: 12px;
    font-family: 'Lato', sans-serif, bold;
    text-transform: uppercase;
    width: 20%;
}

h2{
    font-size: 2vw;
    padding-left: 40px; 
}

h1{
    font-size: 4vw;
}

button{
    background: transparent;
    border: none;
}