@import url("https://fonts.googleapis.com/css?family=Lato");

.user-list-wrapper {
  padding: 30px;
  width: 20vw;
  display: inline-block;
  font-family: "Lato", sans-serif;
  vertical-align: top;
}

.user-list-component {
  padding: 30px;
  border-bottom: 1px lightgray solid;
  width: 20vw;
  text-align: left;
  font-size: 15px;
  border-right: 1px lightgray solid;
}
